<configuration>
    <appender name="prod" class="com.oasis.logging.flume.logbackAppender.AvroAppender">
        <logServerList>sg-monitor-1.800best.com:4141;sg-monitor-2.800best.com:4141?isRandomize=true</logServerList>
        <application>gwms-data</application>
        <service>gwms-data</service>
        <encoder>
            <pattern>%d [%p] %C [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p (%file:%line\)- %m%n</pattern>
            <charset>UTF8</charset>
        </encoder>
    </appender>

    <appender name="baselog"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/gwms.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/gwms.log.%d.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 64 MB -->
                <maxFileSize>128 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d %p %t (%file:%line\)- %m%n
            </pattern>
            <charset>UTF-8</charset> <!--  -->
        </encoder>
    </appender>

    <root level="info">
        <!--<appender-ref ref="STDOUT" />-->
        <appender-ref ref="prod"/>
        <appender-ref ref="baselog"/>
    </root>


</configuration>