<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.best.gwms.data.dao.AbcAnalyzedDao">

    <resultMap id="resultMap" type="com.best.gwms.data.model.po.AbcAnalyzedPo">
        <!--12-->
        <result column="wh_id" jdbcType="BIGINT" property="whId"/>
        <!--13-->
        <result column="sku_id" jdbcType="BIGINT" property="skuId"/>
        <!--14-->
        <result column="rank" jdbcType="INTEGER" property="rank"/>
        <!--15-->
        <result column="owner_id" jdbcType="DOUBLE" property="ownerId"/>
        <!--16-->
        <result column="sku_qty" jdbcType="DOUBLE" property="skuQty"/>
    </resultMap>

    <sql id="queryCondition">
        <if test="null != orderTypeId">
            AND h.order_type=#{orderTypeId,jdbcType=BIGINT}
        </if>
        <if test="null != priority">
            AND h.priority=#{priority,jdbcType=BIGINT}
        </if>
        <if test="null != shippingTypeId">
            AND h.shipping_type_id=#{shippingTypeId,jdbcType=BIGINT}
        </if>

        <if test="@com.best.gwms.data.util.EasyUtil@isCollectionNotEmpty(ownerIdList)">
            AND h.owner_id in
            <foreach item="item" index="index" collection="ownerIdList" open="(" separator="," close=")">
                #{ownerIdList[${index}]}
            </foreach>
        </if>

        <if test="null != skuCategoryId">
            AND d.item_category_id =#{skuCategoryId,jdbcType=BIGINT}
        </if>

    </sql>

    <!-- search Po -->
    <select id="listAnalyzedSkuQty" resultMap="resultMap">
        SELECT  (@i:=@i+1) AS rank,a.* FROM (
        SELECT d.sku_id,h.wh_id,h.owner_id,SUM(d.shipped_qty) AS sku_qty FROM ob_order_detail d,ob_order_header h
        WHERE h.wh_id=#{whId}
        AND d.`order_header_id`=h.`id`
        AND h.stage=#{stage}
        <include refid="queryCondition"/>
        <![CDATA[ AND h.created_time >#{createTimeFrom}]]>
        <![CDATA[ AND h.created_time<=#{createTimeTo}]]>
        GROUP BY d.sku_id ORDER BY sku_qty DESC
        ) a,(SELECT @i:=0) AS i
    </select>

    <select id="getWhTotalShippedQty" resultType="java.lang.Long">
        SELECT SUM(d.shipped_qty) AS sku_qty FROM ob_order_detail d,ob_order_header h
        WHERE h.wh_id=#{whId}
        AND d.`order_header_id`=h.`id`
        AND h.stage=#{stage}
        <include refid="queryCondition"/>
        <![CDATA[ AND h.created_time >#{createTimeFrom}]]>
        <![CDATA[ AND h.created_time<=#{createTimeTo} ]]>
    </select>



    <select id="listAnalyzedSkuIkQty" resultMap="resultMap">
        SELECT (@i:=@i+1) AS rank ,t.* FROM(
        SELECT d.sku_id,h.wh_id,h.owner_id, COUNT(1) AS sku_qty FROM ob_order_detail
        d,ob_order_header h
        WHERE h.wh_id=#{whId}
        AND d.`order_header_id`=h.`id`
        AND h.stage=#{stage}
        <include refid="queryCondition"/>
        <![CDATA[ AND h.created_time > #{createTimeFrom}]]>
        <![CDATA[ AND h.created_time <= #{createTimeTo}]]>
        GROUP BY d.sku_id) t ,(SELECT @i:=0) AS i  ORDER BY t.sku_qty DESC;
    </select>



    <select id="getWhTotalShippedIk" resultType="java.lang.Long">
        SELECT SUM(sku_qty)  AS total FROM(
        SELECT  COUNT(1) AS sku_qty FROM ob_order_detail d,ob_order_header h
        WHERE h.wh_id=#{whId}
        AND d.`order_header_id`=h.`id`
        AND h.stage=#{stage}
        <include refid="queryCondition"/>
        <![CDATA[ AND h.created_time > #{createTimeFrom}]]>
        <![CDATA[ AND h.created_time <= #{createTimeTo}]]>
        GROUP BY d.sku_id) t
    </select>


</mapper>

